.hamburger {
  width: 3em;
  height: 2.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50%;
  /* margin: 0 auto; */
}
.bar {
  width: 100%;
  height: 10%;
  border-radius: 5em;
  background: #000;
  transition: 300ms all linear;
}
.bar1 {
  transform-origin: 100% 100%;
  transition: 300ms all cubic-bezier(0.34, 1, 0, 2.32);
}
.bar2 {
  height: 10.5%;
}
.bar3 {
  transform-origin: 100% 0%;
  transition: 300ms all cubic-bezier(0.34, 1, 0, 2.32);
}
.hamburger:focus .bar1 {
  transform: rotate(-44deg);
}
.hamburger:focus .bar2 {
  transform: translate(-2000px);
}
.hamburger:focus .bar3 {
  transform: rotate(44deg);
}