*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin:  0;
}
body {
  background: #04046f;
  background: #00bbff;
}
body a {
  text-decoration: none;
  color: unset;
}
#app {
  display: flex;
  flex-direction: column;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.header { 
  margin-top: 1%;
  display: flex;
  height: 5%;
}

/*==============================*/
.logo {
  width: 14em;
}
/*==============================*/

.logo img {
  width: 8em;
  height: auto;
}

/*==============================*/
.navbar {
  width: 100%;
  display: none;
  justify-content: space-between;
  overflow: hidden;
}
/*==============================*/

.navbar_links_container {
  display: flex;
  width: 100%;
  height: auto;
}
.navbar_items {
  display: flex;
  width: 100%;
  transition: 150ms all ease-in-out;
  border-radius: .4em;
}
.navbar_items:hover {
  background: #fefb;
}
.navbar_items a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social_handles {
  display: none;
  justify-content: space-between;
  align-self: center;
  width: 8em;
  margin-left: 2%;
}
.social_handles a {
  display: flexbox;
}

/*==============================*/
.hamburger_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-right: 4%; */
}
/*==============================*/

@media screen and (min-width: 500px) {
  .container {
    width: 80%;
  }
  .navbar {
    display: flex;
  }
  .hamburger_container {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .navbar_links_container {
    width: 20em;
  }
  .social_handles {
    display: flex;
  }
}